@charset "UTF-8";
body {
  color: #000;
  font-size: 15px;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
}

a {
  color: #333;
  text-decoration: none;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

@media screen and (min-width:1001px) {
	.wrapper.plusone {
	  width: 1001px;
	}
}

.ind {
  text-indent: -99999px;
}

.row:after {
  content: " ";
  display: block;
  clear: both;
}
