ul,ol {
    padding-left: 0;
}
	.privacy-policy-area-sp {
		display: none;
	}

	/* iPad用スタイル */
	
	@media screen and (max-width: 1024px) {}
	
	@media screen and (min-width: 740px) {}
	/* SP用スタイル */
	
	@media screen and (max-width:738px) {
		.hide-sp {
			display: none !important;
		}
		.hide-pc {
			display: block;
		}
		.privacy-policy-area .p-text {
			font-size: 12px !important;	
		}
		.privacy-policy-area .p-text a {
			color: #0c3fff;
		}
		#header {
			margin-bottom: 8px;
		}
		section h1 {
			font-size: 25px;
			margin: 0 0 20px;
			padding-top: 50px;
		}
		#main-logo {
			margin-left: 10px;
			height: 41px;
		}
		.bullets-container {
			display: none !important;
		}
		.wrapper {
			width: 100%;
		}
		#hero,
		#top-image {
			height: 450px;
		}
		#main-logo h1 {
			width: 190px;
			background: url(../images/sp/main-logo.png) no-repeat;
			background-size: 100%;
		}
		#header-sub-message p {
			margin-top: 2px;
			font-size: 17px;
		}
		#top-image {
			width: 100%;
			background: url(../images/sp/top-img.png) no-repeat;
			background-size: 100%;
		}
		#main-message {
			/*width: 100%;*/
			width: 85.74879227053141%;
			background: url(../images/sp/main-message.png) no-repeat;
			background-size: 100%;
			margin-bottom: 24px;
		}
		#message {
			margin: 10px 0 60px;
		}
		#message p {
			letter-spacing: 120%;
			font-size: 15px;
		}
		/*****************SECTION01*/
		.point-area {
			/*width:355px;*/
			width: 92.748792%;
			margin: auto auto 25px auto;
		}
		#section01 .point-header h2 {
			/*font-size: 25px;*/
			font-size: 20px;
		}
		#section01 .point-header h3 {
			font-size: 14px;
		}
		#scrollto-section-2 h1 {
			/*font-size: 23px;
		font-size: 10px;*/
			font-size: 17px;
		}
		#scrollto-section-2 h1 .stg-orange {
			/*font-size: 33px;
		font-size: 16px;*/
			font-size: 25px;
		}
		#scrollto-section-2 h1 .stg-pink,
		#scrollto-section-2 h1 .sml-pink {
			/*font-size: 33px;
		font-size: 16px;*/
			font-size: 25px;
		}
		.point-header {
			/*position: absolute;*/
			top: 0;
			width: 100%;
		}
		.point-figure {
			position: absolute;
			/*position: absolute;*/
			width: 100%;
			height: auto;
			/*height: 200px;*/
			height: 150px;
			border-radius: 0;
			/*top: 85px;*/
			top: 87px;
			background-size: 100%;
		}
		#point-02 .point-body {
			height: auto;
		}
		.point-body {
			/*position: absolute;*/
			/*position: absolute;*/
			/*top: 170px;*/
			width: 100%;
			/*height: 450px;*/
			/*margin-top: 200px;*/
			margin-top: 150px;
			height: auto;
		}
		.point-body p {
			font-size: 15px;
		}
		#point-01 .point-figure {
			background-image: url(../images/sp/point-num-01-figure.png);
		}
		#point-02 .point-figure {
			background-image: url(../images/sp/point-num-02-figure.png);
		}
		#point-03 .point-figure {
			background-image: url(../images/sp/point-num-03-figure.png);
		}
		#point-01 .point-header {
			background-image: url(../images/pc/point-num-01.png);
		}
		#point-02 .point-header {
			background-image: url(../images/pc/point-num-02.png);
		}
		#point-03 .point-header {
			background-image: url(../images/pc/point-num-03.png);
		}
		.point-header {
			background-size: 60px;
		}
		/***************  section02 **/
		/*  VoOICE*/
		.voice-area {
			/*width: 100%;*/
			width: 92.748792%;
		}
		#voice-01 .voice-figure {
			width: 100%;
			background-image: url(../images/sp/voice-figure-01.png);
			background-size: 100%;
			height: 150px;
		}
		#voice-02 .voice-figure {
			width: 100%;
			background-image: url(../images/sp/voice-figure-02.png);
			background-size: 100%;
			height: 150px;
		}
		#voice-02.voice-area {
			margin-bottom: 30px;
		}
		.voice-body {
			/*height: 200px;*/
			height: 155px;
		}
		.voice-body h2 {
			font-size: 20px;
		}
		.voice-body p {
			width: 100%;
		}
		.voice-wrapper {
			/*min-height: 250px;*/
		}
		.more {
			width: 100%;
			bottom: 10px;
			height: 30px;
		}
		.open {
			background-image: url(../images/sp/label-read-more.png);
                        background-size: 76px 16px;
			height: 30px;
			top: 125px;
		}
		.entry-btn {
			/*width: 80%;*/
			width: 78.50241545893721%;
			background: url(../images/sp/btn-entry-off.png) no-repeat;
			background-size: 100%;
			margin: 0 auto 20px;
		}
		.entry-btn:hover {
			background: url(../images/sp/btn-entry-off.png) no-repeat;
			background-size: 100%;
		}
		/*  section02 *******************/
		/************* section3 */
		#section03 {
			padding-bottom: 40px;
		}
		.application-requirements {
			/*width:100%;*/
			width: 92.748792%;
		}
		.application-requirements tr td ul li {
			margin: 0;
			padding-left: 5px;
		}
		.application-requirements tr {}
		.application-requirements th {
			width: 30.876404%;
			color: #000;
			/*width: auto;*/
			text-align: left;
		}
		.application-requirements td {
			padding: 20px 10px 20px;
			font-size: 15px;
		}
		.annotation {
			width: 85.74879227053141%;
		}
		/********************  section04 */
		/*form */
		#scrollto-section-5 {
			margin-bottom: 40px;
		}
		#entry-form-area {
			width: 92.748792%;
			margin: auto;
		}
		#entry-form-area.form-sp {
			width: 100%;
			margin: auto;
		}
		#entry-form-area .label {
			margin-bottom: 2%;
			width: 100%;
			max-width: 100%;
		}
		#section04 h1 {
			width: 100%;
			background: url(../images/sp/form-one-minuts.png) 45px 25px no-repeat;
			background-size: 80px;
			font-size: 25px;
			height: 70px;
		}
		#entry-form-area {
			padding: 0;
		}
		.form-group {
			width: 100%;
			padding-bottom: 20px;
		}
		#entry-form-area {}
		#entry-form-area .form {
			/*    width: 100%;*/
			width: auto;
			display: inline;
		}
		#entry-form-area .form select#entry_region {
			width: 100px;
		}

		#entry-form-area .form input[type="text"],
		#entry-form-area .form input[type="tel"],
		#entry-form-area .form input[type="email"] {
			-webkit-appearance: none;
			 border-radius: 0;
			padding: 10px;
			font-size: 1.3em;
			text-indent: 0.7em;
			height: 38px;
		}
		#entry-form-area .form input[type="text"],
		#entry-form-area .form input[type="email"] {
			width: 100%;
		}
		#entry-form-area .form input[type="tel"] {
			width: 25%;
		}
		#entry-form-area .form textarea {
			-webkit-appearance: none;
			 border-radius: 0;
		}
		.form birth {
			margin: 2% 0;
		}
		#entry-form-area .form select {
			padding: 0 2%;
			font-size: 1em;
			text-indent: 0.7em;
			height: 38px;
		}
		#entry-form-area .form select#entry_birth_year,
		#entry-form-area .form select#entry_birth_month,
		#entry-form-area .form select#entry_birth_day {
			width: 70px;
		}
		#entry-form-area .form.birth em {
			margin-right: 6px;
			font-size: 12px;
		}
		#selection-flow-area .selection {
			background-size: 100%;
			width: 340px;
			display: block;
			margin: 0 auto;
		}
		#entry-form-area label {
			width: auto;
			margin-right: 15px;
		}
		#entry-form-area .check {
			width: 100%;
		}
		#entry-form-area .form.check label {
			width: 96%;
			background-color: #facd89;
			margin: 1% 0;
			padding: 0;
			border-radius: 2%;
		}
		.privacy-policy-area .privacy-policy {
			display: none;
		}
		.privacy-policy-area-sp {
			display: inherit;
			margin: 5% 0;
		}
		.privacy-policy-area-sp a {
			color: #0c3fff;
			font-weight: bold;
		}
		#entry-form-area .entry-information {
			padding: 5.384615384615385%;
		}
		#entry-form-area .entry-information p {
			font-size: 12.5px;
		}
		#entry-form-area .btn-submit {
			height: 48px;
			border-radius: 3px;
			width: 75%;
			background: url(../images/lp/submit_sp.png) no-repeat;
			background-size: 100%;
		}
		/*form */
		/*  section04  ****************/
		/***********************  section05 */
		/*  Flow  */
		#selection-flow-area {
			width: 100%;
                        padding: .5rem;
			margin: auto;
			box-sizing: border-box;
		}
		#selection-flow-area .selection {
			background-size: 100%;
			height: 169px;
			width: 340px;
			display: block;
			margin: 0 auto;
		}
		#selection01 {
			background-image: url(../images/sp/selection-flow-01.png);
		}
		#selection02 {
			background-image: url(../images/sp/selection-flow-02.png);
		}
		#selection03 {
			background-image: url(../images/sp/selection-flow-03.png);
		}
		#selection04 {
			background-image: url(../images/sp/selection-flow-04.png);
		}
		#selection05 {
			height: 191px;
			background-image: url(../images/sp/selection-flow-05.png);
		}
		#selection05:after {}
		#selection06 {
			background-image: url(../images/sp/selection-flow-06.png);
		}
		#selection01:after,
		#selection02:after,
		#selection03:after,
		#selection04:after,
		#selection05:after {
			content: "";
			width: 40px;
			height: 21px;
			/*top: 165px;*/
			top: 140px;
			right: 0;
			left: 0;
			bottom: 0;
			margin: auto;
			background: url(../images/sp/arrow-bottom.png) no-repeat;
			background-size: contain;
		}
		/*  Flow  */
		/*  MESSAGE */
		#section06 .message-figure {
			/*width: 345px;*/
			/*width: 85.74879227053141%;*/
			width: 100%;
			background: url(../images/sp/message-figure.png) no-repeat;
			background-size: contain;
			min-height: 500px;
			height: auto;
			margin: 30px auto;
		}
		section {
			/*min-height:auto;*/
			min-height: initial;
		}
		/*  MESSAGE */
		/* footer */
		#footer-logo {
			width: 325px;
			background: url(../images/sp/main-logo.png) no-repeat;
			background-size: 100%;
		}
		/* footer */
		#entry-finish {
			margin: 30px 0 0;
		}
		#entry-finish h1 {
			font-size: 17px;
		}
		#entry-finish p {
			font-size: 12px;
			padding: 10px;
			width: 100%;
		  box-sizing: border-box;
		}
		#thank-you {
			margin-top: 20px;
		}
		#thank-you p {
			font-size: 17px;
			font-weight: bold;
		}
		#footer p {
			text-align: left;
			width: 100%;
			margin: 0 auto;
		}
		#footer-logo {
			margin-bottom: 0;
		}
	}
	
	@media screen and (max-width:640px) {
		.hide-pc {
			display: block;
		}
		section h1 {
			padding-top: 30px;
		}
		#main-logo {
			height: 52px;
		}
		#main-logo h1 {
			width: 277px;
		}
		#header-sub-message p {
			margin-top: 8px;
		}
		/*************** section01 */
		#section01 .point-header h2 {
			font-size: 18px;
		}
		#section01 .point-header h3 {
			font-size: 12px;
		}
		.point-figure {
			top: 85px;
		}
		.point-body {
			margin-top: 136px;
		        padding-top: 15px;
		}
		/* section01 ***************/
		/*************** section02 */
		#voice-01 .voice-figure,
		#voice-02 .voice-figure {
			height: 135px;
		}
		/* section02 ***************/
		/*************** section04 */
		#section04 h1 {
			background-position: 49px 8px;
		}
		#entry-form-area .form-group.textarea label {
			width: 100%;
		}
		/*************** section05 */
		#selection-flow-area .selection {
			background-size: 100%;
			width: 340px;
			display: block;
			margin: 0 auto;
			height: 184px;
		}
		#selection01:after,
		#selection02:after,
		#selection03:after,
		#selection04:after,
		#selection05:after {
			top: 121px;
		}
		/* section05 ***************/
		/*************** section06 */
		#section06 .message-figure {
			min-height: 450px;
		}
		/* section06 ***************/
	}
	
	@media screen and (max-width:375px) {
		.hide-pc {
			display: block;
		}
		body {}
		section h1 {
			padding-top: 15px;
		}
		#main-logo {
			height: 46px;
		}
		#main-logo h1 {
			width: 235px;
		}
		#header-sub-message p {
			margin-top: 2px;
		}
		#hero,
		#top-image {
			height: 390px;
		}
		#message {
			margin: 20px 0 40px;
		}
		#main-message {
			margin-bottom: 10px;
		}
		#message p {
			font-size: 100%;
		}
		/*************** section01 */
		#scrollto-section-2 h1 {
			font-size: 13px;
		}
		#scrollto-section-2 h1 .stg-orange,
		#scrollto-section-2 h1 .stg-pink,
		#scrollto-section-2 h1 .sml-pink {
			font-size: 23px;
		}
		#section01 .point-header h2 {
			font-size: 16px;
		}
		#section01 .point-header h3 {
			font-size: 11px;
		}
		.point-figure {
			top: 85px;
			height: 115px;
		}
		.point-body {
			margin-top: 108px;
		}
		/* section01 ***************/
		/*************** section02 */
		#voice-01 .voice-figure,
		#voice-02 .voice-figure {
			height: 115px;
		}
		/* section02 ***************/
		/*************** section04 */
		#entry-form-area .form input[type="text"],
		#entry-form-area .form input[type="number"] {
			padding: 1%;
		}
		#entry-form-area .form select#entry_birth_year,
		#entry-form-area .form select#entry_birth_month,
		#entry-form-area .form select#entry_birth_day {
			width: 60px;
		}
		#entry-form-area .form select {
			text-indent: 0.1em;
		}
		#entry-form-area .form.birth em {
			margin: 0;
		}
		#entry-form-area .form input[type="number"] {
			width: 27%;
			padding: 0;
		}
		#entry-form-area .form em {
			margin: 1px;
		}
		#entry-form-area .btn-submit {
			border-radius: 3px;
			height: 49px;
		}
		.entry-btn:hover {
			background: url(../images/sp/btn-entry-off.png) no-repeat;
			background-size: 100%;
		}
		/* section04 ***************/
		#section04 h1 {
			background-position: 49px 8px;
			background-size: 50px;
			margin-top: 10px;
			font-size: 20px;
			height: 55px;
		}
		/*************** section05 */
		#selection-flow-area .selection {
			background-size: 100%;
			width: 340px;
			margin: 0 auto;
			display: block;
			height: 140px;
		}
		#selection01:after,
		#selection02:after,
		#selection03:after,
		#selection04:after,
		#selection05:after {
			top: 122px;
		}
		/* section05 ***************/
		/*************** section06 */
		#section06 .message-figure {
			min-height: 390px;
		}
		/* section06 ***************/
		/*======================footer======================*/
		#footer-logo {
			width: 90%;
		}
		.entry-btn:hover{
			background: url(../images/sp/btn-entry-off.png) no-repeat;
			background-size: 100%;
		}
	}
	
	@media screen and (max-width:320px) {
		#main-logo h1 {
			width: 190px;
		}
		#hero,
		#top-image {
			height: 340px;
		}
		#selection-flow-area .selection {
			width: 300px;
		}
		
	}
	
	@media only screen and (-webkit-min-device-pixel-ratio: 3) and (min-device-width:1080px) and (max-device-width:1920px) {}
	
	@media only screen and (min-device-pixel-ratio: 3) and (min-device-width:1080px) and (max-device-width:1920px) {}
	
	@media screen and (min-width: 738px) {}
	
	@media screen and (max-width:738px) {}
	
	@media screen and (max-width: 736px) {}
	
	@media screen and (min-width: 321px) and (max-width: 375px) {
		#selection-flow-area .selection {
			background-size: 100%;
			width: 340px;
			display: block;
			height: 176px;
			margin: 0 auto;
		}
	}
