.bullets-container {
    display: table;
    position: fixed;
    right: 25px;
    height: 100%;
    z-index: 1049;
    font-weight: normal;
}

.section-bullets {
    transition-duration: .3s;
    list-style: none;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}

.section-bullets li {
    display: block;
    text-align: right;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 1;
    position: relative;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    cursor: pointer;
    margin-bottom: 1px;
}

.section-bullets li a:before {
    content: ' ';
    width: 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.section-bullets li a:after {
    content: ' ';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #7d7d7d;
    position: absolute;
    right: 8px;
    top: 8px;
}

.section-bullets li a {
    color: #000;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin-left: 5px;
    padding: 5px 20px 5px 0;
    text-decoration: none;
    min-height: 11px;
}

.section-bullets li span {
    position: relative;
    right: 0;
    opacity: 0;
}

.section-bullets li.active a {
}

.section-bullets li.active a:after {
    background-color: #f6aa00;
}

.section-bullets li:hover a {
    opacity: 1;
}

.section-bullets li:hover span {
}

.section-bullets li.active span {
}
