.hide-pc {
	display: none;
}
/* HEADER */
#header {
  margin: 20px 0 15px;
}

#main-logo {
  display: inline-block;
  margin-right: 25px;
}

#main-logo h1 {
  width: 520px;
  height: 76px;
  margin: 0;
  background: url(../images/pc/main-logo.png) no-repeat;
}

#header-sub-message {
  display: inline-block;
  vertical-align: top;
}

#header-sub-message p {
  margin: 12px 0 0;
  font-size: 28px;
  font-weight: bold;
}

/* HERO AREA */
#hero {
  position: relative;
  height: 460px;
}

#top-image {
  width: 1000px;
  height: 500px;
  background: url(../images/pc/top-img.png) no-repeat;
}

.main-figure {
  width: 250px;
  height: 230px;
  position: absolute;
}

#main-figure-01 {
  background: url(../images/pc/main-figure-01.png) no-repeat;
}

#main-figure-02 {
  background: url(../images/pc/main-figure-02.png) no-repeat;
  left: 250px;
}

#main-figure-03 {
  background: url(../images/pc/main-figure-03.png) no-repeat;
  left: 500px;
}

#main-figure-04 {
  background: url(../images/pc/main-figure-04.png) no-repeat;
  left: 750px;
}

#main-figure-05 {
  background: url(../images/pc/main-figure-05.png) no-repeat;
  top: 230px;
}

#main-figure-06 {
  background: url(../images/pc/main-figure-06.png) no-repeat;
  top: 230px;
  left: 250px;
}

#main-figure-message {
  position: absolute;
  top: 304px;
  left: 522px;
  width: 456px;
  height: 82px;
  background: url(../images/pc/figure-message.png) no-repeat;
}

/* MAIN MESSAGE */
#message {
  margin: 80px 0;
}

#main-message {
  width: 675px;
  height: 39px;
  margin: 0 auto 50px;
  background: url(../images/pc/main-message.png) no-repeat;
}

#message p {
  font-size: 18px;
  text-align: center;
  line-height: 2em;
  margin: 0;
}

/* MAIN */

section h1 {
  margin: 0 0 40px;
  padding-top: 90px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

#section01,
#section03,
#section05 {
  background: url(../images/pc/dot.jpg);
}

/* Section01 */
#section01 {
  padding-bottom: 30px;
}

#section01 h1 {
  font-size: 35px;
}

.stg-orange {
  font-size: 50px;
  color: #f6ab00;
}

.stg-pink {
  margin-left: 3px;
  font-size: 50px;
  color: #ff4393;
}

.sml-pink {
  margin-right: 8px;
  font-size: 40px;
  color: #ff4393;
}

.point-area {
  position: relative;
  margin-bottom: 50px;
}

.point-header {
  width: 580px;
  min-height: 85px;
  padding: 5px 10px 10px 85px;
  color: #fff;
  background-color: #ff8929;
  background-repeat: no-repeat;
  background-position: 10px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-sizing: border-box;
}

.point-header h2 {
  font-weight: normal;
  font-size: 30px;
  margin: 0;
}

.point-header h3 {
  font-weight: normal;
  margin: 0;
  font-size: 16px;
  color: #fff779;
  line-height: 1.3;
  padding-top: .3rem;
  height: auto;
}

.point-body {
  width: 580px;
  height: 214px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.point-body p {
  margin: 0;
  font-size: 18px;
  line-height: 1.6;
}

.point-body p.p-section1 {
  line-height: 1.8;
}

.point-body small {
  font-size: 12px;
}

.point-body em {
  font-style: normal;
  color: #0000ff;
}

.point-figure {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  border-radius: 14px;
}

#point-01 .point-header {
  background-image: url(../images/pc/point-num-01.png);
}

#point-01 .point-figure {
  background-image: url(../images/pc/point-num-01-figure.png);
}

#point-02 .point-header {
  background-image: url(../images/pc/point-num-02.png);
}

#point-02 .point-body {
  height: 193px;
}

#point-02 .point-figure {
  background-image: url(../images/pc/point-num-02-figure.png);
}

#point-03 .point-header {
  background-image: url(../images/pc/point-num-03.png);
}

#point-03 .point-figure {
  background-image: url(../images/pc/point-num-03-figure.png);
}

/* Section02 */
.voice-area {
  width: 952px;
  margin: 0 auto 45px;
}

.voice-figure {
  width: 952px;
  height: 350px;
  background-repeat: no-repeat;
}

.voice-wrapper {
  position: relative;
	border-left: 1px solid #f6aa00;
	border-right: 1px solid #f6aa00;

}

.voice-body {
  height: 110px;
  overflow: hidden;
  border-bottom: 10px solid #f6ab00;
}

.voice-body-block {
  padding-bottom: 10px;
}

.voice-body h2 {
  margin: 0;
  padding: 6px 10px 3px;
  font-size: 25px;
  color: #fff;
  background-color: #ff8929;
}

.voice-body p {
  font-size: 16px;
  margin: 0;
  padding: 5px 10px 5px;
  width: 855px;
  box-sizing: border-box;
  line-height: 1.6;
}

.more {
  position: absolute;
  width: 100px;
  height: 61px;
  right: 0;
  bottom: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #59493f;
  background-repeat: no-repeat;
  background-position: center center;
}

.open {
  background-image: url(../images/pc/label-read-more.png);
}

.close {
  background-image: url(../images/pc/label-btn-close.png);
}

.more:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}

.more:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}

.open:before {
  bottom: -6px;
  left: 50%;
  margin-left: -6px;
  border-top: 7px solid #59493f;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.open:after {
  position: absolute;
  bottom: -6px;
  left: 50%;
  margin-left: -6px;
  border-top: 7px solid #59493f;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.close:before {
  bottom: 0px;
  left: 50%;
  margin-left: -6px;
  border-bottom: 7px solid #f6aa00;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.close:after {
  bottom: 0px;
  left: 50%;
  margin-left: -6px;
  border-bottom: 7px solid #f6aa00;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

#voice-01 .voice-figure {
  background-image: url(../images/pc/voice-figure-01.png);
}

#voice-02 .voice-figure {
  background-image: url(../images/pc/voice-figure-02.png);
}

#voice-02.voice-area {
  margin-bottom: 80px;
}

.entry-btn {
  width: 404px;
  height: 64px;
  margin: 0 auto 100px;
  background: url(../images/pc/btn-entry.png) no-repeat;
  cursor: pointer;
}

.entry-btn:hover {
  background: url(../images/pc/btn-entry.png) 0 -64px no-repeat;
}

/* Section03 */
#section03 {
  padding-bottom: 80px;
}

.application-requirements {
  width: 800px;
  margin: 0 auto;
  border-collapse: separate;
}

.application-requirements {
  border-radius: 12px;
}

.application-requirements tr:last-child th {
  border-bottom-left-radius: 12px;
  border-bottom: none;
}

.application-requirements tr:last-child td {
  border-bottom: none;
}

.application-requirements th {
  font-size: 16px;
  padding: 20px;
  vertical-align: top;
  border-bottom: #fff 1px solid;
  background-color: #f6aa00;
  color: #000;
  width: 170px;
}

.application-requirements td {
  padding: 20px 20px 20px;
  font-size: 16px;
  background-color: #fff;
  border-bottom: 1px solid #f6aa00;
  vertical-align: top;
}

.application-requirements ul {
  margin: 0;
  padding: 0 20px;
}

.annotation {
  width: 800px;
  margin: 0 auto;
  text-align: right;
}

/* Section04 */
#section04 h1 {
  width: 470px;
  height: 109px;
  margin: 0 auto;
  background: url(../images/pc/form-one-minuts.png) 0px 56px no-repeat;
}

@media only screen and (max-width: 750px) {
  #entry-form-area.form-pc {
    display: none;
  }
}

@media only screen and (min-width: 751px) {
  #entry-form-area.form-sp {
    display: none;
  }
}

#entry-form-area.form-sp .wpcf7-form {
  width: 400%;
  margin: 0;
  position: relative;
}

#entry-form-area {
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
}

#entry-form-area.org {
  padding: 10px 35px;
  border: 10px solid #F6AA00;
}

#entry-form-area a {
  color: #000cff;
  text-decoration: none;
  font-weight: bold;
}

#entry-form-area .form-group {
  padding: 10px 0;
  border-bottom: dashed 1px #dadada;
  display: flex;
}

#entry-form-area .form-group.check { 
  padding: .5rem;
}
#entry-form-area .form-group.check, 
#entry-form-area .form-group.textarea {
  display: block;
}
#entry-form-area .form-group.check .inquiry {
  float: none;
} 

#entry-form-area .label {
  position: relative;
  display: inline-block;
  width: 180px;
  max-width: 180px;
  margin-top: 5px;
  flex: 1;
}

#entry-form-area .form.check input {
  margin-right: 5px;
  background-color: #fff;
}

#entry-form-area .form.check label {
  width: auto;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
}

#entry-form-area .form {
  display: inline-block;
  max-width: 280px;
  width: 280px;
  flex: 1;
}
#entry-form-area .form.check {
  max-width: 100%;
  display: inline-block;
  width: 100%;
}

#entry-form-area .form .divided {
  display: inline-block;
}
#entry-form-area .form span {
  font-size: 1.1rem;
  max-width: 100%;
}

#entry-form-area .form-group.check .label,
#entry-form-area .form-group.textarea .label {
  width: 100%;
  margin-bottom: 10px;
  max-width: 100%;
}
#entry-form-area .form-group.textarea label { width: 320px; vertical-align: middle;
}

#entry-form-area .form-group.textarea .label .message {
  width: 100%;
}

#entry-form-area .form-group.textarea .form {
  display: block;
  max-width: 100%;
  width: 100%;
}

#entry-form-area .privacy-policy-area {
  margin-top: 20px;
}

#entry-form-area .privacy-policy-area p {
  font-size: 16px;
  margin: 5px 0;
}
#privacyContents {
	font-size: 11px;
	color: #666;
}
#privacyContents p.pt30 {
	line-height: 7px;
	color: #666;
}
#privacyContents p.mb30 {
	line-height: 17px;
	color: #666;
}
#privacyContents .list_normal2 {
}
.policyArea .list_normal2 li {
    list-style-type: decimal;
    margin: 0 0 10px;
}
.footer-text {
	line-height: 10px;
}

#entry-form-area .entry-information {
  margin: 20px 0 30px;
  padding: 10px 20px;
  background-color: #ffecec;
  border-radius: 7px;
}

#entry-form-area .entry-information p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

#entry-form-area .form input[type="text"],
#entry-form-area .form input[type="email"] {
  width: auto;
  max-width: 100%;
  height: 33px;
  padding: 0 5px;
}

#entry-form-area .form input[type="tel"] {
  height: 33px;
  padding: 0 5px;
  width: 63px;
}

#entry-form-area .form input,
#entry-form-area .form textarea {
  border: 1px solid #7d7d7d;
  box-sizing: border-box;
  padding: .2rem .3rem;
  font-size: 1rem;
}

#entry-form-area .form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 .1rem; 
  height: 37px;
  font-size: 16px;
  border: 1px solid #999;
  border-radius: 0;
  width: 100%;
  box-sizing: border-box;
  background: url(../images/pc/icon-select-arrow.jpg) center right no-repeat;
  cursor: pointer;
  font-size: 1rem;
}

#entry-form-area .form select#entry_birth_year {
  width: 80px;
}
#entry-form-area .form select#entry_birth_month,
#entry-form-area .form select#entry_birth_day {
  width: 60px;
}
#entry-form-area .form select#entry_region {
  width: 100px;
}

#entry-form-area .privacy-policy {
  padding: 10px 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  height: 200px;
  overflow: auto;
}

#entry-form-area .privacy-policy img {
  width: 100%;
}

#entry-form-area .form textarea {
  width: 100%;
  height: 100px;
}

#entry-form-area .form.birth em {
  font-size: 16px;
  margin-right: 4px;
  margin-left: 3px;
}

#entry-form-area .form em {
  margin-left: 5px;
  margin-right: 3px;
  font-size: 12px;
  font-style: normal;
}

#entry-form-area.form-sp label {
  font-size: 20px;
}

#entry-form-area label {
  font-size: 16px;
  display: inline-block;
  width: auto;
}

#entry-form-area.form-sp label small {
  display: inline;
  float: right;
  padding-top: 10px;
}

#entry-form-area label small {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 11px;
  color: #666666;
  line-height: 1;
}

#entry-form-area .form-submit {
	border: none !important;
}

.submit.ver1 .btn-submit {
  background: url(../images/pc/btn-entry-submit.png) no-repeat;
}

.submit.ver1 .btn-submit:hover {
  background-position-y: -64px;
}

.btn-submit {
  width: 404px;
  height: 64px;
  margin: 0 auto 18px;
  display: block;
  border: none;
  text-indent: -9999px;
  background: url(../images/lp/submit.png) no-repeat;
}

.btn-submit:hover {
  opacity: .8;
}

.optional {
  padding-top: 2px;
  width: 40px;
  height: 23px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  background-color: #7ba6ff;
  display: inline-block;
  box-sizing: border-box;
}

.inquiry {
  padding-top: 2px;
  width: 40px;
  height: 23px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  background-color: #ff5a00;
  display: inline-block;
  box-sizing: border-box;
  float: right;
  margin-right: 10px;
  margin-top: 2px;
}

.check input[type="checkbox"] {
  display: none;
}

.check .wpcf7-not-valid {
  color: #BC1D35;
  border: none !important;
}

.wpcf7-not-valid {
  border: 1px solid #BC1D35 !important;
}

#entryform-confirm .form {
	font-size: 16px;
}
span.wpcf7-list-item {
	margin-left: 0;
}

/* Section05 */
.selection {
  width: 470px;
  height: 191px;
  position: relative;
  background-repeat: no-repeat;
  display: inline-block;
  margin-bottom: 55px;
}

.selection:nth-child(odd) {
  margin-right: 55px;
}

.selection:after {
  position: absolute;
}

#selection01 {
  background-image: url(../images/pc/selection-flow-01.png);
}

#selection01:after {
  content: "";
  width: 24px;
  height: 44px;
  top: 0;
  right: -42px;
  bottom: 0;
  margin: auto;
  background: url(../images/pc/arrow-right.png) no-repeat;
}

#selection02:after {
  content: "";
  width: 44px;
  height: 24px;
  left: 0;
  right: 0;
  bottom: -42px;
  margin: auto;
  background: url(../images/pc/arrow-bottom.png) no-repeat;
}

#selection03:after {
  content: "";
  width: 44px;
  height: 24px;
  left: 0;
  right: 0;
  bottom: -42px;
  margin: auto;
  background: url(../images/pc/arrow-bottom.png) no-repeat;
}

#selection04:after {
  content: "";
  width: 24px;
  height: 44px;
  top: 0;
  left: -42px;
  bottom: 0;
  margin: auto;
  background: url(../images/pc/arrow-left.png) no-repeat;
}

#selection05:after {
  content: "";
  width: 24px;
  height: 44px;
  top: 0;
  right: -42px;
  bottom: 0;
  margin: auto;
  background: url(../images/pc/arrow-right.png) no-repeat;
}

#selection02 {
  background-image: url(../images/pc/selection-flow-02.png);
}

#selection03 {
  background-image: url(../images/pc/selection-flow-04.png);
}

#selection04 {
  background-image: url(../images/pc/selection-flow-03.png);
}

#selection05 {
  background-image: url(../images/pc/selection-flow-05.png);
}

#selection06 {
  background-image: url(../images/pc/selection-flow-06.png);
}

/* Session06 */
#section06 .message-figure {
  width: 585px;
  height: 800px;
  margin: 100px auto;
  background: url(../images/pc/message-figure.png) no-repeat;
}

#section06 .entry-btn {
  margin-bottom: 43px;
}

/* FOOTER */
#footer-logo {
  width: 520px;
  height: 76px;
  margin: 0 auto 20px;
  background: url(../images/pc/main-logo.png) no-repeat;
}

#footer {
  background-color: #f6ab00;
}

#footer p {
  margin: 0;
  text-align: center;
  padding: .1rem;
  font-size: .7rem;
}

/* PRIVACY POLICY */
h3.subTitle01 {
  border-left: 6px solid #D8CAA6;
  background-color: #DDD8CC;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  width: calc(100% - 16px);
}
.mb30 {
    margin-bottom: 30px !important;
}
.clearfix {
    zoom: 1;
}

/* ENTRY FINISH */
#entry-finish {
	margin: 100px 0;
}
#entry-finish h1 {
	font-size: 48px;
	color: #f6aa00;
	text-align: center;
}
#entry-finish p {
	font-size: 20px;
	width: 630px;
	margin: 0 auto;
}
#thank-you {
	margin-top: 70px;
	text-align: center;
	color: #f6aa00;
	font-size: 24px;
}

#scrollto-section-5 {
	margin-bottom: 100px;
}
