/*!
Theme Name: Globalkids
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description:
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: globalkids
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

globalkids is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/html{box-sizing:border-box;font-family:sans-serif;font-size:16px;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}*,*::before,*::after{box-sizing:inherit}body{background-color:#fff;margin:0;font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,sans-serif}@media all and (min-width: 200px) and (max-width: 750px){body{-webkit-overflow-scrolling:touch}}body,button,input,select,textarea{font-size:14px;font-size:1rem;color:#000;font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,sans-serif;line-height:1.5}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}embed,iframe,object{max-width:100%}h1,h2,h3,h4,h5,h6{clear:both}h1{font-size:2rem;margin:.67rem 0}h2{font-size:1.7rem;margin:.57rem 0}h3{font-size:1.4rem;margin:.47rem 0}h4{font-size:1.15rem;margin:.37rem 0}h5{font-size:.95rem;margin:.27rem 0}h6{font-size:.7rem;margin:.17rem 0}[hidden],template{display:none}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote,q{margin:0 1.5rem;quotes:"" ""}blockquote::before,blockquote::after,q::before,q::after{content:""}hr{background-color:#ccc;border:0;box-sizing:content-box;height:1px;margin-bottom:1.5rem}img{height:auto;max-width:100%;-o-object-fit:cover;object-fit:cover;vertical-align:bottom}mark{background:#ff0;color:#111}p{margin-bottom:1.5rem;margin-top:1.5rem}dfn,cite,em,i{font-style:italic}address{margin:0 0 1.5rem}pre{font-size:13.125px;font-size:.9375rem;background:#f0f5e6;font-family:"Courier 10 Pitch",Courier,monospace;line-height:.7;margin-bottom:1.6rem;max-width:100%;overflow:auto;padding:1.6rem}code,kbd,samp,tt,var{font-size:13.125px;font-size:.9375rem;font-family:Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace}abbr,acronym{border-bottom:1px dotted #666;cursor:help}mark,ins{background:#fff9c0;text-decoration:none}big{font-size:125%}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5rem}sub{bottom:-.25rem}svg:not(:root){overflow:hidden}figure{display:inline-block;margin:1rem;max-width:calc(100% - 2rem)}optgroup{color:inherit;font:inherit;font-weight:bold;margin:0}fieldset{border:1px solid #ccc;margin:0 2px;padding:.35rem .625rem .75rem}legend{border:0;padding:0}.sticky{display:block}.hentry{margin:0 0 1.5rem}.byline,.updated:not(.published){display:none}.single .byline,.group-blog .byline{display:inline}.page-links{clear:both;margin:0 0 1.5rem}.screen-reader-text{clip:rect(1px, 1px, 1px, 1px);height:1px;overflow:hidden;position:absolute !important;width:1px}.screen-reader-text:focus{font-size:12.25px;font-size:.875rem;background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,0.6);clip:auto !important;color:#21759b;display:block;font-weight:bold;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}.site-content[tabindex="-1"]:focus{outline:0}.alignnone{margin-bottom:.5rem;margin-top:.5rem}.alignleft{display:inline;float:left;margin-bottom:.5rem;margin-right:1.5rem;margin-top:.5rem}.alignright{display:inline;float:right;margin-bottom:.5em;margin-left:1.5rem;margin-top:.5em}.aligncenter{display:block;margin-left:auto;margin-right:auto;clear:both}.clear::before::before,.clear::before::after,.clear::after::before,.clear::after::after,.entry-content::before::before,.entry-content::before::after,.entry-content::after::before,.entry-content::after::after,.comment-content::before::before,.comment-content::before::after,.comment-content::after::before,.comment-content::after::after,.site-header::before::before,.site-header::before::after,.site-header::after::before,.site-header::after::after,.site-content::before::before,.site-content::before::after,.site-content::after::before,.site-content::after::after,.site-footer::before::before,.site-footer::before::after,.site-footer::after::before,.site-footer::after::after{content:"";display:table;table-layout:fixed}.clear::before::after,.clear::after::after,.entry-content::before::after,.entry-content::after::after,.comment-content::before::after,.comment-content::after::after,.site-header::before::after,.site-header::after::after,.site-content::before::after,.site-content::after::after,.site-footer::before::after,.site-footer::after::after{clear:both}.clear::after,.entry-content::after,.comment-content::after,.site-header::after,.site-content::after,.site-footer::after{clear:both}.infinite-scroll .posts-navigation,.infinite-scroll.neverending .site-footer{display:none}.infinity-end.neverending .site-footer{display:block}.wp-caption{margin-bottom:1.5rem;max-width:calc(100% - 2rem)}.wp-caption img[class*="wp-image-"]{display:block;margin-left:auto;margin-right:auto;max-width:calc(100% - 2rem)}.wp-caption .wp-caption-text{margin:.8075rem 0}.wp-caption-text{text-align:center}.gallery{margin-bottom:1.5rem}.gallery-caption{display:block}.sp{display:none}@media all and (min-width: 200px) and (max-width: 751px){.sp{display:block}}.search-form{position:relative;z-index:1}.search-form input[type="submit"]{display:none}.mw_wp_form input[type="submit"]{background:#519194;border:5px solid #919191;text-transform:uppercase;letter-spacing:1px;box-shadow:none;text-shadow:none;border-radius:0;height:40px;color:#fff}.mw_wp_form input[type="submit"]:hover{background:#325a76}input[type="text"],input[type="email"],input[type="url"],input[type="password"],input[type="search"],input[type="number"],input[type="tel"],input[type="range"],input[type="date"],input[type="month"],input[type="week"],input[type="time"],input[type="datetime"],input[type="datetime-local"],input[type="color"],textarea{color:#666;border:1px solid #ccc;font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,sans-serif;margin:0}input[type="text"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="password"]:focus,input[type="search"]:focus,input[type="number"]:focus,input[type="tel"]:focus,input[type="range"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="week"]:focus,input[type="time"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="color"]:focus,textarea:focus{color:#111}select,option{width:100%;height:100%;text-align:left;text-indent:.1rem;background-color:#fff;border:none;box-sizing:border-box;border-radius:5px;outline-color:transparent;outline-width:0;outline:none !important}input[type="text"],input[type="email"],input[type="url"],input[type="password"],input[type="search"],input[type="number"],input[type="tel"],input[type="range"],input[type="date"],input[type="month"],input[type="week"],input[type="time"],input[type="datetime"],input[type="datetime-local"],input[type="color"]{padding:3px;line-height:normal;max-width:100%}input[type="text"]::-moz-focus-inner,input[type="email"]::-moz-focus-inner,input[type="url"]::-moz-focus-inner,input[type="password"]::-moz-focus-inner,input[type="search"]::-moz-focus-inner,input[type="number"]::-moz-focus-inner,input[type="tel"]::-moz-focus-inner,input[type="range"]::-moz-focus-inner,input[type="date"]::-moz-focus-inner,input[type="month"]::-moz-focus-inner,input[type="week"]::-moz-focus-inner,input[type="time"]::-moz-focus-inner,input[type="datetime"]::-moz-focus-inner,input[type="datetime-local"]::-moz-focus-inner,input[type="color"]::-moz-focus-inner{border:0;padding:0}input[type="text"][disabled],input[type="email"][disabled],input[type="url"][disabled],input[type="password"][disabled],input[type="search"][disabled],input[type="number"][disabled],input[type="tel"][disabled],input[type="range"][disabled],input[type="date"][disabled],input[type="month"][disabled],input[type="week"][disabled],input[type="time"][disabled],input[type="datetime"][disabled],input[type="datetime-local"][disabled],input[type="color"][disabled]{cursor:default}input[type="text"][type="checkbox"],input[type="text"][type="radio"],input[type="email"][type="checkbox"],input[type="email"][type="radio"],input[type="url"][type="checkbox"],input[type="url"][type="radio"],input[type="password"][type="checkbox"],input[type="password"][type="radio"],input[type="search"][type="checkbox"],input[type="search"][type="radio"],input[type="number"][type="checkbox"],input[type="number"][type="radio"],input[type="tel"][type="checkbox"],input[type="tel"][type="radio"],input[type="range"][type="checkbox"],input[type="range"][type="radio"],input[type="date"][type="checkbox"],input[type="date"][type="radio"],input[type="month"][type="checkbox"],input[type="month"][type="radio"],input[type="week"][type="checkbox"],input[type="week"][type="radio"],input[type="time"][type="checkbox"],input[type="time"][type="radio"],input[type="datetime"][type="checkbox"],input[type="datetime"][type="radio"],input[type="datetime-local"][type="checkbox"],input[type="datetime-local"][type="radio"],input[type="color"][type="checkbox"],input[type="color"][type="radio"]{box-sizing:border-box;padding:0}input[type="text"][type="number"]::-webkit-inner-spin-button,input[type="text"][type="number"]::-webkit-outer-spin-button,input[type="email"][type="number"]::-webkit-inner-spin-button,input[type="email"][type="number"]::-webkit-outer-spin-button,input[type="url"][type="number"]::-webkit-inner-spin-button,input[type="url"][type="number"]::-webkit-outer-spin-button,input[type="password"][type="number"]::-webkit-inner-spin-button,input[type="password"][type="number"]::-webkit-outer-spin-button,input[type="search"][type="number"]::-webkit-inner-spin-button,input[type="search"][type="number"]::-webkit-outer-spin-button,input[type="number"][type="number"]::-webkit-inner-spin-button,input[type="number"][type="number"]::-webkit-outer-spin-button,input[type="tel"][type="number"]::-webkit-inner-spin-button,input[type="tel"][type="number"]::-webkit-outer-spin-button,input[type="range"][type="number"]::-webkit-inner-spin-button,input[type="range"][type="number"]::-webkit-outer-spin-button,input[type="date"][type="number"]::-webkit-inner-spin-button,input[type="date"][type="number"]::-webkit-outer-spin-button,input[type="month"][type="number"]::-webkit-inner-spin-button,input[type="month"][type="number"]::-webkit-outer-spin-button,input[type="week"][type="number"]::-webkit-inner-spin-button,input[type="week"][type="number"]::-webkit-outer-spin-button,input[type="time"][type="number"]::-webkit-inner-spin-button,input[type="time"][type="number"]::-webkit-outer-spin-button,input[type="datetime"][type="number"]::-webkit-inner-spin-button,input[type="datetime"][type="number"]::-webkit-outer-spin-button,input[type="datetime-local"][type="number"]::-webkit-inner-spin-button,input[type="datetime-local"][type="number"]::-webkit-outer-spin-button,input[type="color"][type="number"]::-webkit-inner-spin-button,input[type="color"][type="number"]::-webkit-outer-spin-button{height:auto}input[type="text"][type="search"]::-webkit-search-cancel-button,input[type="text"][type="search"]:-webkit-search-decoration,input[type="email"][type="search"]::-webkit-search-cancel-button,input[type="email"][type="search"]:-webkit-search-decoration,input[type="url"][type="search"]::-webkit-search-cancel-button,input[type="url"][type="search"]:-webkit-search-decoration,input[type="password"][type="search"]::-webkit-search-cancel-button,input[type="password"][type="search"]:-webkit-search-decoration,input[type="search"][type="search"]::-webkit-search-cancel-button,input[type="search"][type="search"]:-webkit-search-decoration,input[type="number"][type="search"]::-webkit-search-cancel-button,input[type="number"][type="search"]:-webkit-search-decoration,input[type="tel"][type="search"]::-webkit-search-cancel-button,input[type="tel"][type="search"]:-webkit-search-decoration,input[type="range"][type="search"]::-webkit-search-cancel-button,input[type="range"][type="search"]:-webkit-search-decoration,input[type="date"][type="search"]::-webkit-search-cancel-button,input[type="date"][type="search"]:-webkit-search-decoration,input[type="month"][type="search"]::-webkit-search-cancel-button,input[type="month"][type="search"]:-webkit-search-decoration,input[type="week"][type="search"]::-webkit-search-cancel-button,input[type="week"][type="search"]:-webkit-search-decoration,input[type="time"][type="search"]::-webkit-search-cancel-button,input[type="time"][type="search"]:-webkit-search-decoration,input[type="datetime"][type="search"]::-webkit-search-cancel-button,input[type="datetime"][type="search"]:-webkit-search-decoration,input[type="datetime-local"][type="search"]::-webkit-search-cancel-button,input[type="datetime-local"][type="search"]:-webkit-search-decoration,input[type="color"][type="search"]::-webkit-search-cancel-button,input[type="color"][type="search"]:-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;padding:3px;width:100%}.search-form input[type="search"]{width:100%;height:40px;font-size:13px;border-radius:0}a{-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out;background-color:transparent;color:#000cff;text-decoration:none;word-break:break-all;word-wrap:break-word}a:active,a:focus,a:hover{color:#325a76}a:focus{outline:thin dotted}a:active,a:hover{outline:0}ul,ol{margin:0 0 1.5rem .5rem;padding-left:1.2rem}ul{list-style:disc}ol{list-style:decimal}li>ul,li>ol{margin-bottom:0;margin-left:0}dt{font-weight:bold}dd{margin:0 1.5rem 1.5rem}table{border:1px solid #919191;border-collapse:collapse;border-spacing:0;margin:0 0 1.5rem;max-width:100%}table#wp-calendar{width:100%;text-align:center}table th,table td{padding:.4rem;border:1px solid #919191}table th{text-align:center}table td.has-a{padding:0}table td.has-a a{display:inline-block;padding:.4rem}table td span{font-size:.8rem;padding:.2rem;color:red}.site{overflow:hidden;padding:0;background-image:url(../images/ver3/bg_border.png);background-repeat:repeat}@media all and (min-width: 200px) and (max-width: 750px){.site{width:100%;background-color:transparent;background-image:url(../images/ver3/sp/bg_border_sp.png);background-repeat:repeat;border-radius:0;background-size:100%;padding:0;height:auto}}.site .section-title{margin:1rem auto 0}@media all and (min-width: 200px) and (max-width: 750px){.site .section-title{margin:1rem auto .5rem}}.site a{border-radius:3rem;outline:none}.site a:focus,.site a:active{outline:none}.site a .apply{color:#fff;background:#50bd57;padding:1.2rem;width:500px;font-size:2.2rem;border-radius:3rem;margin:2.5rem auto;text-align:center;letter-spacing:1rem;font-weight:bold;box-shadow:0 -1px 3px rgba(0,0,0,0.6);-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out}@media all and (min-width: 200px) and (max-width: 320px){.site a .apply{width:250px;padding:.5rem;font-size:1.2rem;letter-spacing:.6rem;margin:1.5rem auto}}@media all and (min-width: 321px) and (max-width: 750px){.site a .apply{width:280px;padding:.5rem;font-size:1.3rem;letter-spacing:.6rem;margin:1.5rem auto}}.site a .apply:hover{opacity:.85;box-shadow:1px 1px 3px rgba(0,0,0,0.6)}.site-footer{position:relative;background:#ff557b;color:#fff;font-weight:normal;text-align:center;padding:.5rem}.site-footer aside{font-size:.8rem;letter-spacing:2px;line-height:1.2}@media all and (min-width: 200px) and (max-width: 750px){.site-footer aside{font-size:.6rem;letter-spacing:0}}.site-footer small{font-size:.65rem;letter-spacing:1px;line-height:1.2}@media all and (min-width: 200px) and (max-width: 750px){.site-footer small{font-size:.45rem;letter-spacing:0}}.site-header .site-title{color:transparent;background:url(../images/ver3/logo.png) no-repeat;width:300px;height:auto;line-height:60px}@media all and (min-width: 200px) and (max-width: 750px){.site-header .site-title{background:transparent;position:absolute}}.entry-form-area{background:#fff;display:inline-block;height:calc(990px - 4.6rem);width:100%;border-radius:9px;padding:5px 10px}@media all and (min-width: 200px) and (max-width: 750px){.entry-form-area{border-radius:0;background:#ffecf8}}.entry-form-area.pc{display:inline-block}@media all and (min-width: 200px) and (max-width: 750px){.entry-form-area.pc{display:none}}.entry-form-area.sp{display:none}@media all and (min-width: 200px) and (max-width: 750px){.entry-form-area.sp{display:inline-block;height:auto;border-bottom:6px solid #ff557b;margin-bottom:1rem}}.entry-form-area.sp .wpcf7{margin:0;padding:0}.entry-form-area.sp .wpcf7 .wpcf7-form{width:400%;margin:0;position:relative}.entry-form-area.sp .wpcf7 .form_step_sp{display:inline-block;position:relative;top:10px;width:24.5%;left:.5%;min-height:300px;margin:0;vertical-align:top}.entry-form-area.sp .wpcf7 .form_step_sp.invisible{opacity:0}.entry-form-area.sp .wpcf7 .form_step_sp .form_basic{width:95%;margin:0 auto;font-size:1rem}.entry-form-area.sp .wpcf7 .form_step_sp .form_basic:first-of-type{border-bottom:1px dotted #666}.entry-form-area.sp .wpcf7 .form_step_sp .form_basic .basic_title{margin:10px 10px 10px 0;font-size:20px}.entry-form-area.sp .wpcf7 .form_step_sp .form_basic .basic_title label{width:auto;margin-right:15px;display:inline-block}.entry-form-area.sp .wpcf7 .form_step_sp .form_basic .basic_title label[for="entry_phone_sp"]>small{position:absolute;right:0}.entry-form-area.sp .wpcf7 .form_step_sp .form_basic .basic_title label[for="entry_phone_sp"]>span{position:absolute;top:1rem}.entry-form-area.sp .wpcf7 .form_step_sp .form_basic .basic_title small{display:inline;float:right;padding-top:10px;margin:0;padding:0;font-size:11px;color:#666;line-height:1;margin-top:.8rem}.entry-form-area.sp .wpcf7 .form_step_sp .form_basic .basic_title span{position:relative;margin-left:10px;font-size:12px}.entry-form-area.sp .wpcf7 .form_step_sp .form_basic .basic_title span::before{content:'必須';display:inline-block;position:relative;top:-3px;right:10px;width:30px;height:20px;margin-left:10px;line-height:20px;text-align:center;font-size:12px;color:#fff;background-color:#ff5a00;box-sizing:border-box}.entry-form-area.sp .wpcf7 .form_step_sp .form_basic .basic_input{display:block;width:100%;height:40px}.entry-form-area.sp .wpcf7 .form_step_sp .form_basic .basic_input.form_select.form_birth_day{display:-webkit-box;display:-ms-flexbox;display:flex}.entry-form-area.sp .wpcf7 .form_step_sp .form_basic .basic_input.form_select.form_birth_day em{margin:.7rem .2rem 0;font-style:normal}.entry-form-area.sp .wpcf7 .form_step_sp .form_basic .basic_input.form_select.area>span{width:33%}.entry-form-area.sp .wpcf7 .form_step_sp .form_basic .basic_input.form_select span{display:inline-block;width:25%;height:100%;margin:0;border:solid 1px #919191}.entry-form-area.sp .wpcf7 .form_step_sp .form_basic .basic_input.form_select span:first-of-type{width: 45%}.entry-form-area.sp .wpcf7 .form_step_sp .form_basic .basic_input.tel input{display:inline-block;width:28%}.entry-form-area.sp .wpcf7 .form_step_sp .form_basic .basic_input.tel .hiphen{padding:0 .2rem}.entry-form-area.sp .wpcf7 .form_step_sp .form_basic .basic_input input{width:100%;height:40px;margin:0;padding:0;border:solid 1px #919191;box-sizing:border-box;font-size:1rem;text-indent:.3rem}.entry-form-area.sp .wpcf7 .form_step_sp .form_basic .basic_input span{position:relative}.entry-form-area.sp .wpcf7 .form_step_sp .form_basic .basic_input .entry_hurigana_spformError,.entry-form-area.sp .wpcf7 .form_step_sp .form_basic .basic_input .entry_name_spformError{left:60% !important}.entry-form-area.sp .wpcf7 .form_step_sp .form_step_menu{width:90%;margin:0 auto}.entry-form-area.sp .wpcf7 .form_step_sp .form_step_menu img{display:inline-block;width:auto;height:auto;max-width:100%;float:left;cursor:pointer;position:relative;z-index:1}.entry-form-area.sp .wpcf7 .form_step_sp .form_step_menu img.form_back{max-width:20% !important;margin-right:.5rem}.entry-form-area.sp .wpcf7 .form_step_sp .form_step_menu img.form_next{max-width:75% !important}.entry-form-area.sp .wpcf7 .form_step_sp .form_qualifications .qualifications_title{margin:10px;font-size:20px}.entry-form-area.sp .wpcf7 .form_step_sp .form_message .message{margin:1rem;font-size:.9rem}.entry-form-area.sp .wpcf7 .form_step_sp .form_message .message .message_neo{padding:10px;background-color:#fff;border-radius:10px;font-size:.85rem}.entry-form-area a{color:#000cff;text-decoration:none;font-weight:bold}.entry-form-area #form_step_list{list-style:none;display:table;padding:0;margin:1.2rem auto 0}.entry-form-area #form_step_list li{display:inline-table;width:22px;text-align:center;color:#fff;background:#b6b6b6;border-radius:50%;margin:0 0.1rem;font-size:.9rem;padding:.1rem 0 0}.entry-form-area #form_step_list li.on{background:#ff557b}.entry-form-area .form-group{display:-webkit-box;display:-ms-flexbox;display:flex;padding:10px 0;border-bottom:2px dotted #a8a8a8}.entry-form-area .form-group.check{display:inline-block;width:100%;padding-top:0}.entry-form-area .form-group.check .label{width:100%;margin-bottom:5px;max-width:100%}.entry-form-area .form-group.check .inquiry{float:none}.entry-form-area .form-group.textarea{display:block}.entry-form-area .form-group.textarea .label{width:100%;margin-bottom:10px;max-width:100%}.entry-form-area .form-group.textarea .form{display:block;width:calc(100% - 1.5rem);padding:0 .5rem}.entry-form-area .form-group .label{position:relative;display:inline-block;width:180px;max-width:180px;margin-top:2px;-webkit-box-flex:1;-ms-flex:1;flex:1}.entry-form-area .form-group .label label{font-size:16px;display:inline-block;width:auto}.entry-form-area .form-group .label label small{display:block;margin:0;padding:0;font-size:11px;color:#666666;line-height:1}.entry-form-area .form-group .label .inquiry{padding-top:2px;width:40px;height:23px;color:#fff;font-size:12px;text-align:center;background-color:#ff5a00;display:inline-block;box-sizing:border-box;float:right;margin-right:10px;margin-top:2px}@media all and (min-width: 200px) and (max-width: 750px){.entry-form-area .form-group .label .inquiry{float:none}}.entry-form-area .form-group .label .optional{padding-top:2px;width:40px;height:23px;color:#fff;font-size:12px;text-align:center;background-color:#7ba6ff;display:inline-block;box-sizing:border-box}.entry-form-area .form-group .form{display:inline-block;-webkit-box-flex:1;-ms-flex:1;flex:1;width:100%}.entry-form-area .form-group .form.check{display:inline-block;width:100%;padding:0 .5rem}.entry-form-area .form-group .form.check label{width:auto;margin-right:20px;display:inline-block;vertical-align:top}@media all and (min-width: 200px) and (max-width: 750px){.entry-form-area .form-group .form.check label{display:block;width:96%;color:#fff;background-color:#ffecf8;margin:.3rem 0;padding:.2rem .1rem;border-radius:2%}}.entry-form-area .form-group .form.check label input[type="checkbox"]{display:none}.entry-form-area .form-group .form.check label input[type="checkbox"]:checked ~ .checkbox::before{font-size:14px;line-height:14px;background-color:#979797}.entry-form-area .form-group .form.check label .checkbox::before{content:'';display:inline-block;width:14px;height:14px;margin:0 5px;border:solid 1px #979797;cursor:pointer}.entry-form-area .form-group .form span{margin:0;font-size:1.1rem;max-width:100%;color:#000}.entry-form-area .form-group .form span.hiphen{padding:0 .2rem}.entry-form-area .form-group .form span input{width:100%;height:33px;padding:0 5px;border:1px solid #999}.entry-form-area .form-group .form span input[type="tel"]{height:33px;padding:0 5px;width:63px}.entry-form-area .form-group .form select{-webkit-appearance:none;-moz-appearance:none;appearance:none;padding:0 .1rem;height:37px;font-size:1rem;border:1px solid #999;border-radius:0;width:100%;box-sizing:border-box;background:url(../images/ver3/icon-select-arrow.jpg) center right no-repeat;cursor:pointer}.entry-form-area .form-group .form select#entry_birth_year,.entry-form-area .form-group .form select#entry_birth_year_sp{width:75px}.entry-form-area .form-group .form select#entry_birth_month,.entry-form-area .form-group .form select#entry_birth_month_sp,.entry-form-area .form-group .form select#entry_birth_day,.entry-form-area .form-group .form select#entry_birth_day_sp{width:60px}.entry-form-area .form-group .form select#entry_region,.entry-form-area .form-group .form select#entry_region_sp{width:100px}.entry-form-area .form-group .form em{font-style:normal;margin-right:4px;margin-left:3px}.entry-form-area .form-group .form textarea{border:1px solid #999;width:100%;height:100px}.entry-form-area .entry-information{margin:20px 0;padding:10px 20px;background-color:#ffecec;border-radius:7px}.entry-form-area .entry-information p{font-size:1rem;margin:0;font-weight:bold}.entry-form-area .message_agree{padding:0 .5rem}.entry-form-area .message_agree p{margin:.5rem 0 0.5rem;font-size:.9rem}.entry-form-area .submit{position:relative}@media all and (min-width: 200px) and (max-width: 750px){.entry-form-area .submit{width:auto;height:auto;max-width:75% !important;margin-left:0;display:inline;cursor:pointer}}@media all and (min-width: 200px) and (max-width: 320px){.entry-form-area .submit .tooltip{position:absolute;width:250px;background:rgba(255,0,0,0.75);color:#fff;padding:.3rem;list-style:none;border-radius:5px;box-shadow:0 0 5px #000;border:3px solid #fff;bottom:70px;font-size:.8rem;cursor:initial}}@media all and (min-width: 321px) and (max-width: 750px){.entry-form-area .submit .tooltip{position:absolute;width:300px;background:rgba(255,0,0,0.75);color:#fff;padding:.3rem;list-style:none;border-radius:5px;box-shadow:0 0 5px #000;border:3px solid #fff;bottom:70px;font-size:.8rem;cursor:initial}}.entry-form-area .submit .tooltip::after{content:'';position:absolute;display:inline-block;width:15px;height:15px;border:10px solid transparent;border-top:15px solid rgba(255,0,0,0.75);bottom:-23px;right:42%}.entry-form-area .submit .tooltip li{padding:.2rem 0}@media all and (min-width: 200px) and (max-width: 750px){.entry-form-area .submit .btn-submit{cursor:pointer;color:transparent;margin:0;border-radius:3px;height:70px;width:75%;background:url(../images/ver3/sp/submit_sp.png) no-repeat;background-size:100%;border:0;display:block;outline:none}.entry-form-area .submit .btn-submit:focus,.entry-form-area .submit .btn-submit:active{outline:none}}.entry-form-area .form-submit{border:none}.entry-form-area .form-submit .submit{display:block;margin:0 auto;padding:0;cursor:pointer}.entry-form-area .form-submit .submit .btn-submit{cursor:pointer;width:404px;height:84px;margin:0 auto 18px;display:block;border:none;text-indent:-9999px;outline:none;background:url(../images/ver3/submit.png) no-repeat}.entry-form-area .form-submit .submit .btn-submit:focus,.entry-form-area .form-submit .submit .btn-submit:active{outline:none}.first-view{background:#fff0f3;display:inline-block;padding:0.6rem calc((100% - 1000px) / 2);padding-bottom:2rem}@media all and (min-width: 200px) and (max-width: 750px){.first-view{padding:0;background-image:url(../images/ver3/sp/model_sp.png);background-repeat:no-repeat;background-size:100%;width:100%}}.first-view .left-wrapper{float:left;width:500px}@media all and (min-width: 200px) and (max-width: 750px){.first-view .left-wrapper{width:100%;float:none}.first-view .left-wrapper::before,.first-view .left-wrapper::after{content:"";display:table;table-layout:fixed}.first-view .left-wrapper::after{clear:both}}.first-view .left-wrapper .key-visual{display:inline-block;position:relative;width:100%;height:940px}@media all and (min-width: 200px) and (max-width: 320px){.first-view .left-wrapper .key-visual{height:400px}}@media all and (min-width: 200px) and (max-width: 375px){.first-view .left-wrapper .key-visual{height:430px}}@media all and (min-width: 200px) and (max-width: 750px){.first-view .left-wrapper .key-visual{height:460px}}.first-view .left-wrapper .key-visual .satisfy{position:absolute;top:0;left:0;width:196px;height:240px;background:url(../images/ver3/satisfy.png) no-repeat}@media all and (min-width: 200px) and (max-width: 750px){.first-view .left-wrapper .key-visual .satisfy{background-size:90%;left:auto;right:0;width:120px;height:132px;top:.5rem}}.first-view .left-wrapper .key-visual .model{position:absolute;top:5px;right:0;width:380px;height:608px;background-image:url(../images/ver3/model.png);background-repeat:no-repeat;background-size:100%}@media all and (min-width: 200px) and (max-width: 320px){.first-view .left-wrapper .key-visual .model{background-image:url(../images/ver3/sp/lead-text_sp.png);top:270px;width:100%;height:145px;margin-top:-1.8rem}}@media all and (min-width: 321px) and (max-width: 375px){.first-view .left-wrapper .key-visual .model{background-image:url(../images/ver3/sp/lead-text_sp.png);top:270px;width:100%;height:240px;margin-top:-.2rem}}@media all and (min-width: 376px) and (max-width: 750px){.first-view .left-wrapper .key-visual .model{background-image:url(../images/ver3/sp/lead-text_sp.png);top:270px;width:100%;height:280px;margin-top:0}}.first-view .left-wrapper .key-visual .first-message{position:absolute;top:540px;left:0;width:490px;height:379px;background-image:url(../images/ver3/first-message.png);background-repeat:no-repeat;background-size:100%}@media all and (min-width: 200px) and (max-width: 320px){.first-view .left-wrapper .key-visual .first-message{background-image:url(../images/ver3/sp/first-message_sp.png);width:51%;background-size:100%;top:144px;left:auto;right:.6rem;height:103px}}@media all and (min-width: 321px) and (max-width: 750px){.first-view .left-wrapper .key-visual .first-message{background-image:url(../images/ver3/sp/first-message_sp.png);width:51%;background-size:100%;top:144px;left:auto;right:.6rem;height:133px}}.first-view .right-wrapper{float:right;width:500px;background-color:#ff557b;border-radius:17px;height:1000px;display:inline-block;padding:.3rem 10px}@media all and (min-width: 200px) and (max-width: 320px){.first-view .right-wrapper{width:100%;background-color:transparent;background-image:url(../images/ver3/sp/bg_border_sp.png);background-repeat:repeat;border-radius:0;background-size:100%;padding:2.8rem 0;height:auto;margin-top:-7rem}}@media all and (min-width: 321px) and (max-width: 375px){.first-view .right-wrapper{width:100%;background-color:transparent;background-image:url(../images/ver3/sp/bg_border_sp.png);background-repeat:repeat;border-radius:0;background-size:100%;padding:2.8rem 0;height:auto;margin-top:-4rem}}@media all and (min-width: 376px) and (max-width: 750px){.first-view .right-wrapper{width:100%;background-color:transparent;background-image:url(../images/ver3/sp/bg_border_sp.png);background-repeat:repeat;border-radius:0;background-size:100%;padding:2.8rem 0;height:auto;margin-top:-2.6rem}}.first-view .right-wrapper .form-title{position:relative;text-align:center;height:3rem;font-size:2.2rem}@media all and (min-width: 200px) and (max-width: 750px){.first-view .right-wrapper .form-title{font-size:1.05rem;color:#fff;background:#ff557b;height:2rem;font-weight:normal;line-height:2;margin:0;position:relative}}.first-view .right-wrapper .form-title::before{content:'';position:absolute;display:inline-block;background:url(../images/ver3/1minute.png) no-repeat;width:62px;height:62px;left:65px;top:-10px}@media all and (min-width: 200px) and (max-width: 750px){.first-view .right-wrapper .form-title::before{background:transparent}}@media all and (min-width: 200px) and (max-width: 750px){.first-view .right-wrapper .form-title::after{content:'';border:14px solid transparent;border-top:14px solid #ff557b;position:absolute;bottom:-25px;z-index:41;left:0;right:0;display:inline-block;width:10px;margin:0 auto}}.second-view{background-image:url(../images/ver3/bg_colc.png);background-repeat:no-repeat;display:inline-block;padding:0.6rem calc((100% - 1000px) / 2);width:100%;height:650px;margin-top:-2rem;z-index:1}@media all and (min-width: 200px) and (max-width: 320px){.second-view{background-image:url(../images/ver3/sp/sp_bg_colc_320.png);background-size:100%;display:inline-block;height:680px;padding:.5rem;margin-bottom:20px}}@media all and (min-width: 321px) and (max-width: 375px){.second-view{background-image:url(../images/ver3/sp/sp_bg_colc_375.png);background-size:100%;display:inline-block;height:680px;padding:.5rem;margin-bottom:50px}}@media all and (min-width: 376px) and (max-width: 750px){.second-view{background-image:url(../images/ver3/sp/sp_bg_colc.png);background-size:100%;display:inline-block;height:680px;padding:.5rem;margin-bottom:50px}}.second-view .section-title{background:url(../images/ver3/title_example.png) no-repeat;width:398px;height:93px}@media all and (min-width: 200px) and (max-width: 750px){.second-view .section-title{width:218px;height:53px;background-size:100%;margin:.8rem auto .5rem}}.second-view .post-wrapper{display:inline-block;width:100%}.second-view .post-wrapper .recruit-post{width:50%;float:left;display:-webkit-box;display:-ms-flexbox;display:flex;padding:1rem}@media all and (min-width: 200px) and (max-width: 750px){.second-view .post-wrapper .recruit-post{width:100%;padding:0;display:-webkit-box;display:-ms-flexbox;display:flex}}.second-view .post-wrapper .recruit-post:nth-of-type(1) .post-thumb{background-image:url("../images/ver3/job1.JPG")}.second-view .post-wrapper .recruit-post .post-thumb{width:219px;height:151px;margin-right:.4rem;background-size:100%;background-repeat:no-repeat}@media all and (min-width: 200px) and (max-width: 750px){.second-view .post-wrapper .recruit-post .post-thumb{width:150px;height:110px}}.second-view .post-wrapper .recruit-post:nth-of-type(2) .post-thumb{background-image:url("../images/ver3/job2.JPG")}.second-view .post-wrapper .recruit-post .post-thumb{width:219px;height:151px;margin-right:.4rem;background-size:100%;background-repeat:no-repeat}@media all and (min-width: 200px) and (max-width: 750px){.second-view .post-wrapper .recruit-post .post-thumb{width:150px;height:110px}}.second-view .post-wrapper .recruit-post:nth-of-type(3) .post-thumb{background-image:url("../images/ver3/job3.JPG")}.second-view .post-wrapper .recruit-post .post-thumb{width:219px;height:151px;margin-right:.4rem;background-size:100%;background-repeat:no-repeat}@media all and (min-width: 200px) and (max-width: 750px){.second-view .post-wrapper .recruit-post .post-thumb{width:150px;height:110px}}.second-view .post-wrapper .recruit-post:nth-of-type(4) .post-thumb{background-image:url("../images/ver3/job4.JPG")}.second-view .post-wrapper .recruit-post .post-thumb{width:219px;height:151px;margin-right:.4rem;background-size:100%;background-repeat:no-repeat}@media all and (min-width: 200px) and (max-width: 750px){.second-view .post-wrapper .recruit-post .post-thumb{width:150px;height:110px}}.second-view .post-wrapper .recruit-post .condition{width:calc(100% - 219px - .4rem);background:#fff;border:1px solid #919191;table-layout:fixed;font-size:.9rem;margin-bottom:0}@-moz-document url-prefix(){.second-view .post-wrapper .recruit-post .condition{background:#919191;border-spacing:0;border-collapse:separate}}@media all and (min-width: 200px) and (max-width: 750px){.second-view .post-wrapper .recruit-post .condition{width:calc(100% - 150px - .4rem);font-size:.55rem}}.second-view .post-wrapper .recruit-post .condition tr{border:1px solid #919191}.second-view .post-wrapper .recruit-post .condition th,.second-view .post-wrapper .recruit-post .condition td{font-weight:normal;padding:.1rem .05rem .05rem}.second-view .post-wrapper .recruit-post .condition th _::-webkit-full-page-media,.second-view .post-wrapper .recruit-post .condition th _:future,.second-view .post-wrapper .recruit-post .condition th :root .css-selector,.second-view .post-wrapper .recruit-post .condition td _::-webkit-full-page-media,.second-view .post-wrapper .recruit-post .condition td _:future,.second-view .post-wrapper .recruit-post .condition td :root .css-selector{display:inline-table}@media all and (min-width: 200px) and (max-width: 750px){.second-view .post-wrapper .recruit-post .condition th,.second-view .post-wrapper .recruit-post .condition td{padding:.1rem 0 .05rem}}.second-view .post-wrapper .recruit-post .condition th{background:#aea79e;color:#fff;width:4rem}@media all and (min-width: 200px) and (max-width: 750px){.second-view .post-wrapper .recruit-post .condition th{width:2.6rem;line-height:1.65}}.second-view .post-wrapper .recruit-post .condition td{text-indent:.2rem;width:calc(100% - 4rem);white-space:nowrap;overflow:hidden;text-overflow:ellipsis;background:#fff}@media all and (min-width: 200px) and (max-width: 750px){.second-view .post-wrapper .recruit-post .condition td{width:calc(100% - 2.6rem);box-shadow:1px 0 0 #919191;font-size:.5rem;line-height:1.8}}.second-view .apply{display:none}@media all and (min-width: 200px) and (max-width: 750px){.second-view .apply{display:block}}.third-view{background-image:url(../images/ver3/bg_colc2.png);background-repeat:no-repeat;display:inline-block;padding:0.6rem calc((100% - 1000px) / 2);width:100%;height:1133px;margin-top:-2rem;margin-bottom:30px;z-index:1}@media all and (min-width: 200px) and (max-width: 320px){.third-view{background-image:url(../images/ver3/sp/sp_bg_colc2.png);background-size:100%;display:inline-block;height:940px;padding:.5rem;margin-top:0;margin-bottom:0}}@media all and (min-width: 321px) and (max-width: 375px){.third-view{background-image:url(../images/ver3/sp/sp_bg_colc2.png);background-size:100%;display:inline-block;height:1080px;padding:.5rem;margin-top:0;margin-bottom:20px}}@media all and (min-width: 376px) and (max-width: 750px){.third-view{background-image:url(../images/ver3/sp/sp_bg_colc2_414.png);background-size:100%;display:inline-block;height:1140px;padding:.5rem;margin-top:0;margin-bottom:10px}}.third-view .section-title{background:url(../images/ver3/title_voice.png) no-repeat;width:402px;height:89px}@media all and (min-width: 200px) and (max-width: 750px){.third-view .section-title{width:218px;height:53px;background-size:100%;margin:.8rem auto .5rem}}.third-view .post-wrapper{display:inline-block;width:100%}.third-view .post-wrapper .header{background:#fec8db;padding:.7rem 2rem}@media all and (min-width: 200px) and (max-width: 750px){.third-view .post-wrapper .header{padding:.5rem;font-size:.8rem;height:73px;position:relative}}.third-view .post-wrapper .header .name{font-size:.9rem;font-weight:700;padding-left:.1rem;color:rgba(0,0,0,0.5)}@media all and (min-width: 200px) and (max-width: 750px){.third-view .post-wrapper .header .name{padding-left:70px;font-size:.7rem}}.third-view .post-wrapper .header .title{color:#764229;margin:0;font-weight:400;font-size:1.6rem;line-height:1.2}@media all and (min-width: 200px) and (max-width: 750px){.third-view .post-wrapper .header .title{padding-left:70px;font-size:1rem}}.third-view .post-wrapper .voice-post{width:100%;margin-top:1.6rem;background:#fff;box-shadow:0 0 3px rgba(0,0,0,0.6)}@media all and (min-width: 200px) and (max-width: 750px){.third-view .post-wrapper .voice-post{margin-top:0}}@media all and (min-width: 200px) and (max-width: 750px){.third-view .post-wrapper .voice-post:nth-child(2){margin-top:1rem}}.third-view .post-wrapper .voice-post .body{display:-webkit-box;display:-ms-flexbox;display:flex;padding:1rem;color:#764229}@media all and (min-width: 200px) and (max-width: 750px){.third-view .post-wrapper .voice-post .body{position:relative;padding:.5rem 1rem}}.third-view .post-wrapper .voice-post .body .post-thumb{background:url(../images/ver3/person.png) no-repeat;width:175px;height:175px;margin-right:1.4rem}@media all and (min-width: 200px) and (max-width: 750px){.third-view .post-wrapper .voice-post .body .post-thumb{position:absolute;top:-66px;background-size:100%;width:60px;height:60px;left:0.4rem}}.third-view .post-wrapper .voice-post .body .content{width:calc(100% - 219px - .4rem);background:#fff}@media all and (min-width: 200px) and (max-width: 750px){.third-view .post-wrapper .voice-post .body .content{width:100%}}.third-view .post-wrapper .voice-post .body .content p{margin-top:0;margin-bottom:.5rem;line-height:1.6;font-size:1rem}@media all and (min-width: 200px) and (max-width: 320px){.third-view .post-wrapper .voice-post .body .content p{font-size:.7rem;line-height:1.7}}@media all and (min-width: 321px) and (max-width: 375px){.third-view .post-wrapper .voice-post .body .content p{font-size:.9rem}}@media all and (min-width: 376px) and (max-width: 414px){.third-view .post-wrapper .voice-post .body .content p{font-size:.9rem;line-height:1.8}}@media all and (min-width: 415px) and (max-width: 750px){.third-view .post-wrapper .voice-post .body .content p{font-size:.8rem}}.fourth-view{background-image:url(../images/ver3/bg_colc3.png);background-repeat:no-repeat;display:inline-block;padding:1rem calc((100% - 1000px) / 2);width:100%;height:400px;margin-top:-2rem;z-index:1}@media all and (min-width: 200px) and (max-width: 320px){.fourth-view{background-image:url(../images/ver3/sp/sp_bg_colc3.png);background-size:100%;display:inline-block;height:330px;padding:.5rem;margin-top:.5rem}}@media all and (min-width: 321px) and (max-width: 750px){.fourth-view{background-image:url(../images/ver3/sp/sp_bg_colc3.png);background-size:100%;display:inline-block;height:400px;padding:.5rem;margin-top:.5rem}}.fourth-view .section-title{background:url(../images/ver3/title_usage.png) no-repeat;width:528px;height:81px}@media all and (min-width: 200px) and (max-width: 750px){.fourth-view .section-title{width:298px;height:53px;background-size:100%;margin:.8rem auto .5rem}}.fourth-view .flow{background-image:url(../images/ver3/usage.png);background-repeat:no-repeat;width:628px;height:298px;display:block;margin:1rem auto 1rem}@media all and (min-width: 200px) and (max-width: 320px){.fourth-view .flow{background-image:url(../images/ver3/sp/step_sp.png);width:263px;height:190px;background-size:100%;margin:.8rem auto .5rem}}@media all and (min-width: 321px) and (max-width: 375px){.fourth-view .flow{background-image:url(../images/ver3/sp/step_sp.png);width:303px;height:250px;background-size:100%;margin:.8rem auto .5rem}}@media all and (min-width: 376px) and (max-width: 750px){.fourth-view .flow{background-image:url(../images/ver3/sp/step_sp.png);width:343px;height:280px;background-size:100%;margin:.8rem auto .5rem}}.fifth-view{background-repeat:no-repeat;display:inline-block;padding:0.6rem calc((100% - 1000px) / 2);width:100%;height:493px;margin-top:-2rem;z-index:1}@media all and (min-width: 200px) and (max-width: 320px){.fifth-view{margin-top:0;height:450px;padding:.3rem}}@media all and (min-width: 321px) and (max-width: 375px){.fifth-view{margin-top:0;height:540px;padding:.3rem}}@media all and (min-width: 376px) and (max-width: 414px){.fifth-view{margin-top:0;height:630px;padding:.3rem}}@media all and (min-width: 415px) and (max-width: 750px){.fifth-view{margin-top:0;height:500px;padding:.3rem}}.fifth-view .content-wrapper{display:table;margin:0 auto;padding:2rem}@media all and (min-width: 200px) and (max-width: 750px){.fifth-view .content-wrapper{padding:0;display:block}}.fifth-view .content-wrapper .left-wrapper{display:table-cell;vertical-align:middle}@media all and (min-width: 200px) and (max-width: 750px){.fifth-view .content-wrapper .left-wrapper{display:inline-block}}.fifth-view .content-wrapper .left-wrapper .photo{background:url(../images/ver3/contactme_img.png) no-repeat;width:402px;height:401px}@media all and (min-width: 200px) and (max-width: 320px){.fifth-view .content-wrapper .left-wrapper .photo{background-size:100%;width:310px;height:310px}}@media all and (min-width: 321px) and (max-width: 374px){.fifth-view .content-wrapper .left-wrapper .photo{background-size:100%;width:320px;height:320px}}@media all and (min-width: 375px) and (max-width: 380px){.fifth-view .content-wrapper .left-wrapper .photo{background-size:100%;width:370px;height:370px}}@media all and (min-width: 381px) and (max-width: 413px){.fifth-view .content-wrapper .left-wrapper .photo{background-size:100%;width:380px;height:380px}}@media all and (min-width: 414px) and (max-width: 450px){.fifth-view .content-wrapper .left-wrapper .photo{background-size:100%;width:410px;height:410px}}@media all and (min-width: 451px) and (max-width: 750px){.fifth-view .content-wrapper .left-wrapper .photo{background-size:100%;width:450px;height:450px}}.fifth-view .content-wrapper .right-wrapper{display:table-cell;vertical-align:middle}@media all and (min-width: 200px) and (max-width: 750px){.fifth-view .content-wrapper .right-wrapper{display:inline-block;width:100%}}.fifth-view .content-wrapper .right-wrapper .message{background:url(../images/ver3/contactme.png) no-repeat;width:349px;height:265px}@media all and (min-width: 200px) and (max-width: 750px){.fifth-view .content-wrapper .right-wrapper .message{background:url(../images/ver3/sp/contactme_sp.png) no-repeat;background-size:100%;width:250px;height:180px;display:block;margin:0 auto}}.sixth-view{background-image:url(../images/ver3/bg_colc4.png);background-repeat:no-repeat;display:inline-block;padding:1rem calc((100% - 1000px) / 2);width:100%;height:191px;margin-top:-2rem;z-index:1}@media all and (min-width: 200px) and (max-width: 750px){.sixth-view{background-image:url(../images/ver3/sp/sp_bg_colc4.png);padding:.5rem;background-size:100%;width:100%;height:100px}}
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) { @media {
    th, td { display: inline-table; }
}}
